body {
  background-color: #fefae0 !important;
}

@media (max-width: 991px) {
  #offcanvasNavbar {
    background-color: #f8f9fa00;
    backdrop-filter: blur(10px);
  }
}

svg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#cardContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: 10vh;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  padding-bottom: 30px;
  display: flex;
  align-items: flex-end;
}

.card {
  max-width: 600px;
  backdrop-filter: blur(15px);
}

#TutorCard {
  background-color: rgba(204, 102, 102, 0.3) !important;
}

#StudentCard {
  background-color: rgba(96, 87, 100, 0.3) !important;
}

.card img {
  margin: auto;
  padding: 0.5em;
  border-radius: 1em;
}

.card-body {
  display: flex;
}

.text-section {
  max-width: 60%;
}

#btnStudent,
#btnTutor {
  padding: 0.3em 0.5em;
  background-color: antiquewhite;
  border-color: antiquewhite;
  color: black;
}
